#Generic IDE ignore rules across all projects

# intellij stuff
*.iml
.idea

# eclipse stuff
.classpath
.project
.checkstyle
.settings
.metadata
.pages.xml.spdia
.faces-config.xml.jsfdia

#Log items
.html
.gif


/target/
/bin/
# /src/main/resources/screenshots

